/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(/images/cover-image-light.png);
  --main-text-color: #353430;
  --main-background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --heading: #ffc2e6;
  --subtitle-text-color: #353430;
  --color-change: #353430;
  .lamp {
    display: none;
  }
  .header__theme-menu-button:hover {
    border: 1px solid #32312d66;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(/images/cover-image-light.png);
    --main-text-color: #353430;
    --main-background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --heading: #ffc2e6;
    --subtitle-text-color: #353430;
    --color-change: #353430;
    .lamp {
      display: none;
    }
    .header__theme-menu-button:hover {
      border: 1px solid #32312d66;
    }
  }
}
